[2017-12-05 00:54] jayvdb opened #1 "Add "last generated" timestamp"
As the contents of the page include a static snapshot of org activity , it is important to know when it was last generated in UTC, and show how long ago it was generated , aware that the readers timezone is likely not UTC.

[2017-12-05 00:58] jayvdb opened #2 "Create a README.md"
The new README should explain the

- basic objects of the projects, and
- the technologies used,
- how developers can build it

[2017-12-05 01:00] blazeu opened #3 "Clickable org name"
The org name should be a link to the corresponding GCI organization page e.g. https://codein.withgoogle.com/organizations/coala/

There's `slug` key in the generated [`data.json`](https://github.com/coala/gci-leaders/blob/gh-pages/data.json).

[2017-12-05 01:15] jayvdb opened #4 "Order orgs by number of tasks completed"
Google publishes how many tasks students have completed for each org.
Scrape this number for each org, and use it to order the orgs.

[2017-12-05 01:27] jayvdb opened #5 "Add logos of each org"
Display the logos of each org, obtained from the GCI website dynamically.
i.e. do not store the logos in this repository.

[2017-12-05 01:35] blazeu commented on #5
*Hint*: There's `image` key in the generated [`data.json`](https://github.com/coala/gci-leaders/blob/gh-pages/data.json)

[2017-12-05 01:54] blazeu opened #6 "Add LICENSE"
This repo uses [MIT license](https://github.com/coala/gci-leaders/blob/master/package.json#L11)

[2017-12-05 02:10] jayvdb opened #7 "Link to GitHub organisation for each Google Code-in organisation"
Link to the GitHub org for each Google Code-in organisation, wherever possible, ensuring that only highly probable links are made.

Use a GitHub logo for the link.

[2017-12-05 02:10] jayvdb commented on #7
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-12-05 02:10] jayvdb commented on #7
[GitMate.io](https://gitmate.io) thinks the label prediction failed because there are not enough labels. Three labels must have been set on at least three issues each.

The contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-05 02:13] jayvdb opened #8 "Guess GitHub username of leaders"
Link to the GitHub user for the leaders, ensuring that only highly probable links are made.

At least confirm that a username is a member of the relevant GitHub organisation before linking to it.

This is a repeatable [GCI task](https://codein.withgoogle.com/dashboard/tasks/5179714090041344/).

Use "`Related to https://github.com/coala/gci-leaders/issues/8`" at the bottom of your commit message, s

[2017-12-05 02:13] jayvdb commented on #8
[GitMate.io](https://gitmate.io) thinks the label prediction failed because there are not enough labels. Three labels must have been set on at least three issues each.

The contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-05 02:13] jayvdb commented on #8
Blocked on https://github.com/coala/gci-leaders/issues/7

[2017-12-05 02:16] jayvdb opened #9 "Link to GitLab organisation for each Google Code-in organisation"
Link to the GitLab org for each Google Code-in organisation, wherever possible, ensuring that only highly probable links are made.

Use a GitLab logo for the link.

[2017-12-05 02:16] jayvdb commented on #9
[GitMate.io](https://gitmate.io) thinks the label prediction failed because there are not enough labels. Three labels must have been set on at least three issues each.

The contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-05 03:02] Indmind commented on #4
Ok, sorry

[2017-12-05 03:08] blazeu opened #11 "Add .coafile"
It should check for the file types already in the repository.
Exclude `package*.json` file and `out` folder.

Ideally we should use prettier.io to format, because initially I used that.
But [PrettierBear](https://github.com/coala/coala-bears/issues/2130) doesn't exists yet.

So, use ESLintBear and https://github.com/prettier/eslint-plugin-prettier instead.

The settings should be:
- no semicolon
-

[2017-12-05 03:08] jayvdb commented on #11
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-05 03:20] blazeu commented on #11
Ideally we should use prettier.io to format, but PrettierBear doesn't exists yet.

So, use ESLintBear and https://github.com/prettier/eslint-plugin-prettier instead.

[2017-12-05 07:34] #3 closed, assigned to tioirawan

[2017-12-05 08:40] #4 closed, assigned to tioirawan

[2017-12-05 11:24] jayvdb opened #16 "Display the number of tasks completed for each org"
#4 only sorted.  The number of tasks completed should be shown.

[2017-12-05 11:24] jayvdb commented on #16
[GitMate.io](https://gitmate.io) thinks the label prediction failed because there are not enough labels. Three labels must have been set on at least three issues each.

The contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-05 11:25] jayvdb commented on #16
Also the italics at the top still says sorted alphabetically.  Also fix that.

[2017-12-05 12:10] blazeu commented on #16
The italics at the top is meant for the participants not the organization.

[2017-12-05 12:31] jayvdb opened #17 "Place orgs with no listed leaders in separate section"
The orgs without any leaders are visually unappealing amongst the other orgs.

They should be a separate list, at the bottom of the page, ordered by number of tasks completed.

[2017-12-05 12:31] jayvdb commented on #17
[GitMate.io](https://gitmate.io) thinks the label prediction failed because there are not enough labels. Three labels must have been set on at least three issues each.

The contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-05 13:25] jayvdb commented on #16
@blazeu , that should be clarified ;-)

[2017-12-05 13:50] #16 closed, assigned to tioirawan

[2017-12-05 18:22] #7 closed, assigned to nobody

[2017-12-06 00:08] blazeu opened #21 "Put html template & css in it's own file"

[2017-12-06 00:08] jayvdb commented on #21
[GitMate.io](https://gitmate.io) thinks the label prediction failed because there are not enough labels. Three labels must have been set on at least three issues each.

The contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 01:56] jayvdb opened #22 "Add "built by coala""
This website should mention that it has been built by the coala team.

This is a design task; do just add "built by coala".

[2017-12-06 01:56] jayvdb commented on #22
[GitMate.io](https://gitmate.io) thinks the label prediction failed because there are not enough labels. Three labels must have been set on at least three issues each.

The contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 02:03] jayvdb opened #23 "Randomise order of participants"
A lot of research backs up that the ballot order has an impact on the voting patterns.

Likewise a stable alpha ordering of the participants may cause some unintentional bias towards the participants at the top of that ordering.

This task is to introduce client side randomisation of the participants.

[2017-12-06 02:03] jayvdb commented on #23
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 02:06] blazeu commented on #23
_Hint_: use flexbox's `order`, it's easier to implement, rather than shuffling the DOM around.

[2017-12-06 02:07] jayvdb opened #24 "Expand "GCI" in title"
The website title is "GCI Current Leaders".

For participants & mentors, we know what it means, but nobody else does, and a google search for "GCI" will not help them.

The only way to find out is to click on an org to go to the codein website.

Improve the title & heading of the website so that the reader knows it is about Google Code-in 2017.

[2017-12-06 02:07] jayvdb commented on #24
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 02:09] jayvdb opened #25 "Add GCI logo"
The website title is "GCI Current Leaders".

For participants & mentors, we know what it means, but nobody else does, and a google search for "GCI" will not help them.

The only way to find out is to click on an org to go to the codein website.

Improve the title & heading of the website by expanding it to "Google Code-in 2017" so that the reader knows what's it all about.

The GCI logo should be

[2017-12-06 02:09] jayvdb commented on #25
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 02:13] jayvdb opened #26 "Add fork me ribbon"
e.g. https://github.com/blog/273-github-ribbons

[2017-12-06 02:13] jayvdb commented on #26
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 02:30] jayvdb opened #27 "Reduce number of GitHub API hits"
In the initial GitHub org detection (78d0eaa), the following orgs were resolved using a GitHub search, as is recorded in the [build log](https://travis-ci.org/coala/gci-leaders/builds).

[code]

This task is for you to find alternative approaches to identity the GitHub org, in order to avoid using a GitHub API hit for these org.

Your build must be rebased and have at least one less API hit than m

[2017-12-06 02:30] jayvdb commented on #27
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 02:36] jayvdb opened #28 "WIP: Add linting of YAML files to .coafile"
.travis.yml , and likely soon .eslintrc

[2017-12-06 02:37] jayvdb commented on #28
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 02:41] blazeu commented on #28
https://github.com/coala/gci-leaders/pull/20

It's there already.

[2017-12-06 02:42] #28 closed, assigned to nobody

[2017-12-06 03:08] #11 closed, assigned to nobody

[2017-12-06 03:15] blazeu commented on #23
I just googled on how to shuffle elements, and wow there's an answer that blew my mind, exploiting `.appendChild` .

[2017-12-06 03:29] blazeu opened #29 "Display only 1 column on mobile"
https://github.com/coala/gci-leaders/issues/21 should be done first.

[2017-12-06 03:29] jayvdb commented on #29
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 03:34] andrewda commented on #8
Most GCI students are private members of the org (at least for coala) so this might be near impossible...

Edit: I did a manual check and if we're searching the organization for the user's name, currently the _only_ person it will work for is me. Everyone else is private or not in the company's organization.

[2017-12-06 03:40] blazeu opened #30 "Org heading contains invalid element"
Task completed and github logo should go outside the `h3` tag.

https://github.com/coala/gci-leaders/blob/ad8d15a6d0e033809b151516258dfe1af1ecd53f/templates/main.html#L24-L33

[2017-12-06 03:40] jayvdb commented on #30
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 03:47] blazeu commented on #21
.js is will be done in https://github.com/coala/gci-leaders/pull/19

[2017-12-06 05:38] jayvdb commented on #8
It is high difficulty, but I can assure you it is very possible to do this.

[2017-12-06 05:39] jayvdb opened #32 "Detect when display name is a GitHub username"
Split off from https://github.com/coala/gci-leaders/issues/8 , lets get the easy case done sooner than later.

[2017-12-06 05:40] jayvdb commented on #32
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 05:46] jayvdb opened #33 "Use GenderGapGrader toolkit to detect leadership gender gap"
Log the display names which are classified as male vs female vs other.

Only present aggregated 'gender gap' statistics on the website, at the bottom, and indicating how many display names it was based upon.
See http://gendergapgrader.com/toolkit/ and https://blog.namsor.com/api/

If https://github.com/coala/gci-leaders/issues/32 doesnt land first, skip any display name which contains numerals and

[2017-12-06 05:46] jayvdb commented on #33
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 06:02] blazeu opened #34 "ESLint should extend from eslint:recommended and eslint-config-prettier rules"
https://github.com/coala/gci-leaders/pull/20 only adds prettier which focuses on formatting rules.

`eslint:recommended` adds some real linter rules. e.g. unused variable.
[`prettier`](https://github.com/prettier/eslint-config-prettier) rules is used to remove any formatting rules that conflicts with prettier.

[2017-12-06 06:02] jayvdb commented on #34
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 06:13] jayvdb opened #35 "Use NLP to detect nationality statistics"
Use the participants display name to determine nationality.

Discard data which is unsuitable or confidence level is low, but clearly display what percentage of the participants display names were unsuitable or was unusable for the statistics.

wrt unsuitable data, if #32 doesnt land first, skip any display name which contains numerals and doesnt contain an uppercase letter.

To warm you up a bit,

[2017-12-06 06:13] jayvdb commented on #35
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 06:57] #21 closed, assigned to nobody

[2017-12-06 07:16] andrewda commented on #35
This is really cool! If #8/#32 lands first, we'll also be able to use a user's `location` from GitHub.

[2017-12-06 07:59] andrewda commented on #34
My bad for not adding these in #20. Assuming everything passes CI, #37 should add this.

[2017-12-06 08:58] #34 closed, assigned to nobody

[2017-12-06 09:30] #1 closed, assigned to tioirawan

[2017-12-06 10:02] jayvdb opened #38 "Add i18n"
Include at least a few i18n strings, but this task is not about doing translations.

[2017-12-06 12:44] #29 closed, assigned to tioirawan

[2017-12-06 13:05] #24 closed, assigned to nobody

[2017-12-06 13:06] jayvdb commented on #24
Merged into #25

[2017-12-06 13:16] falafel72 commented on #23
Hey, I've just made a pull request for this issue (#40), does it look okay?

[2017-12-06 15:55] #25 closed, assigned to tioirawan

[2017-12-06 16:10] invisible-defects commented on #35
Sounds really interesting! Have a couple ideas on this, will share them in Zulip soon.

[2017-12-07 03:56] #23 closed, assigned to nobody

[2017-12-07 05:31] blazeu opened #42 "Add padding to column"
The padding should be around 2-3em. Find what's the most comfortable.

The padding should be applied once in between every column.

Vertical and horizontal padding should be consistent.

Also we don't need that centered column at the bottom.

[2017-12-07 05:31] jayvdb commented on #42
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jayvdb.

[2017-12-07 08:40] #33 closed, assigned to nobody

[2017-12-07 11:00] #42 closed, assigned to nobody

[2017-12-07 12:38] #17 closed, assigned to tioirawan

[2017-12-08 02:17] #5 closed, assigned to nobody

[2017-12-08 03:04] Mixih opened #47 "Wrapping problem in `The Mifos Interactive` box"
Seems to only happen when the screen is over 720p wide (thus probably being css).
Screenshot from firefox 57.0.1 on linux 64bit, 1080 screen width
![screenshot_20171207_210149](https://user-images.githubusercontent.com/5818750/33749234-4218053a-db92-11e7-866b-25379a5f8e7f.png)

[2017-12-08 03:04] jayvdb commented on #47
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jayvdb.

[2017-12-08 03:21] #47 closed, assigned to nobody

[2017-12-08 03:30] blazeu opened #49 "Folder restructuring"
Move the 2 .js file into `lib` folder for better organization.

Also, rename `scrap.js` to `scrape.js` @synicalsyntax told me that it's a typo _oops_.

[2017-12-08 03:31] jayvdb commented on #49
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jayvdb.

[2017-12-08 03:34] blazeu opened #50 "Design overhaul"
The current design with multiple columns looks really cramped.

@synicalsyntax Proposed to make a single column instead.

If possible, use and modify the current grid styling.

The new design should look _neat_ and _tidy_ on large (larger than body width), medium (lower than body width) screen and mobile.

And it's allowed to add css for other elements, such as `a` or `li`.

[2017-12-08 03:34] jayvdb commented on #50
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jayvdb.

[2017-12-08 04:21] blazeu opened #51 "Add GCI timeline"
The data can be scraped on build, from
https://codein.withgoogle.com/api/program/current/

[2017-12-08 04:24] andrewda commented on #51
Do we know any of the `state` values besides `competition_open`? Or should everything just be done using the provided dates?

[2017-12-08 06:42] blazeu commented on #51
I think the value of state are those key with boolean value
e.g. `student_signup_open`, `winners_selection_locked`, `competition_closed`

[2017-12-08 07:31] #30 closed, assigned to nobody

[2017-12-08 07:31] #49 closed, assigned to nobody

[2017-12-08 07:31] #50 closed, assigned to nobody

[2017-12-08 10:57] invisible-defects commented on #8
We can search user by name & surname, GitHub user search has such option.
In case we don't find someone, we can try to guess by training seq2seq model on `username : real name` pairs we've found so far. We know our guess is right if user has coala org in his profile, which is AFAIK visible for other users. Though it definitely won't work for participants, whose nicknames don't have any association

[2017-12-08 11:55] jayvdb commented on #51
Why not just a link to [this](https://developers.google.com/open-source/gci/timeline) GCI website timeline.

I think we should add a countdown or maybe at the moment show percentage of days that have elapsed, which shows new comers that it is still very early and they should still get involved.

[2017-12-08 12:07] jayvdb opened #53 "Add chat link"
Each org lists a URL to their chat system.  Some are direct links, such as https://coala.zulipchat.org or https://gitter.im/scorelab/scorelab or http://systers.io/slack-systers-opensource/ , but others are using that field to store a http page where more information can be found, such as https://github.com/MovingBlocks/Terasology/wiki/Using-IRC .

This task is to add a clickable chat logo beside t

[2017-12-08 12:24] blazeu commented on #51
Countdown to "Deadline to claim new tasks" looks good.

[2017-12-08 15:33] jayvdb opened #54 "Remove GCI orgs from twitter feed"
Some orgs are drowning out everyone else on the feed, and many orgs are too busy to tweet.  Best remove them all and let the individuals voices be heard.

[2017-12-08 16:48] andrewda commented on #53
Is there a GCI task for this? Has it already been claimed? (hard to tell without corobo working properly)

I'd like to take this on if it's not already being worked on :+1:

[2017-12-09 04:12] jayvdb commented on #38
I think we will want translations to be done on https://hosted.weblate.org/ , but we can set that up after basic functionality is merged.

[2017-12-09 07:50] 9r0x commented on #51
I am thinking about something like this:
<img width="147" alt="screen shot 2017-12-09 at 3 43 28 pm" src="https://user-images.githubusercontent.com/14857092/33793740-2442303c-dcf8-11e7-8420-a131d1b0a6f2.png">
Participants can see the inner dates as a countdown to "Deadline to claim new tasks". while outside circle shows newcomers that it is still very early.

[2017-12-09 08:53] blazeu commented on #51
@Grox-Ni I think it's better if the circle and the dates are related ..

[2017-12-09 14:55] blazeu opened #55 "Getting perfect Lighthouse score"
https://github.com/GoogleChrome/lighthouse

This is our current Lighthouse audit result: https://u.teknik.io/4SV0f.html

This task is for increasing our Lighthouse score, multiple students can take this task.

For now, don't worry about service worker / offline support, I think we will have another task for that.

Your build must be rebased and have at least one more audit passed than master.

[2017-12-09 15:54] jayvdb commented on #55
connection failure.  They fail too?

[2017-12-09 16:52] Mixih commented on #55
ya, they've misconfigured their ssl it seems

[2017-12-09 17:04] blazeu opened #56 "Setup lighthouse-ci"
https://github.com/ebidel/lighthouse-ci

[2017-12-09 17:41] jayvdb opened #57 "Readable json"
Make https://github.com/coala/gci-leaders/blob/gh-pages/data.json readible , and so the history of the file is usable.
Probably also good to emit yaml; which will be more vcs friendly.
Create a separate minified version if required.

[2017-12-09 17:53] blazeu commented on #57
~~Probably make a deploy script instead of travis's deploy method also.~~ https://github.com/coala/gci-leaders/pull/59

Since travis will rewrite the history on every deploy.

[2017-12-10 05:35] blazeu opened #58 "Create deploy script"
for Travis.

[2017-12-10 07:36] jayvdb commented on #58
Note that this one does not need to use ssh deploy; as this build process doesnt contain private information.  Up to you, but ssh deploy makes it a bit more difficulty for the average forker.
Maybe try to have 'ssh deploy if configured, or fallback to normal overwrite GitHub Pages deploy'

[2017-12-10 18:24] myfrom commented on #55
Can I take the Best Practises and Accessibility? I could also try my best at Performance.

For [GCI task](https://codein.withgoogle.com/dashboard/task-instances/5311708543320064/)

[2017-12-10 23:09] blazeu commented on #55
@myfrom Sure.

[2017-12-10 23:25] mooncos commented on #38
Ok but can we use a hash table for the strings as of now?

[2017-12-11 02:52] #58 closed, assigned to blazeu

[2017-12-11 03:11] #53 closed, assigned to nobody

[2017-12-11 03:27] jayvdb opened #63 "Add Wikidata & Wikipedia links for every org"
Do searches on Wikidata, either using the `wbsearchentities` API (used by https://www.npmjs.com/package/wikidata-search) , or using [WDQS](https://www.mediawiki.org/wiki/Wikidata_query_service) (sparql)

[2017-12-11 04:37] jayvdb opened #64 "Add homepage, twitter and G+ icons with links"
There is homepage, G+ and twitter urls in https://codein.withgoogle.com/api/program/2017/organization/?status=2

Add them as links for each org with appropriate logos.

[2017-12-11 04:38] #51 closed, assigned to 9r0x

[2017-12-11 04:39] blazeu commented on #64
Also move the logo below or above the "Tasks completed" it's getting crowded there.

[2017-12-11 04:54] jayvdb opened #65 "Create blog planet from blog_url"
The data feed has a `blog_url` for many of the orgs:

- coala
- drupal
- FOSSASIA
- HaikuOS
- JBoss
- Liquid Galaxylab
- mifos
- musicbrainz
- OpenMRS
- osgeo
- systers
- ubuntu
- Wikimedia
- XWiki
- Zulip

Exclude URLs which do not have a properly declared RSS/ATOM alternative, e.g. BRL-CAD's FB url (https://fb.me/brlcad) and http://forum.terasology.org/ and http://www.scorelab.org/blog/index.htm

[2017-12-11 04:55] jayvdb commented on #65
I suggest this page be an overlay / 'tab' , and maybe move the Twitter feed to also be an overlay / tab

[2017-12-11 06:26] #57 closed, assigned to tioirawan

[2017-12-11 06:37] #32 closed, assigned to nobody

[2017-12-11 06:56] jayvdb opened #70 "Link to Google Groups"
A few of the orgs have Google Groups listed, usually as their 'mailing list'.

We should identify them separately, as a Google group has a forum web-interface as well as a traditional mailing list, and a consistent archive browsing mechanism that makes it easy to get involved, without needing to use 'subscribe' type emails, or browse pipermail.

[2017-12-11 08:16] jayvdb commented on #70
The detection should be done in https://github.com/andrewda/chattie , and it should detect that http://www.liquidgalaxylab.com/2017/11/student-forum-gci-2017.html is a Google Group.

[2017-12-11 09:37] blazeu opened #71 "Put proper box-sizing"

[2017-12-11 10:04] #64 closed, assigned to tioirawan

[2017-12-11 14:40] jayvdb commented on #70
Would also be good to detect https://community.metabrainz.org/ as Discourse

[2017-12-11 16:35] myfrom commented on #55
Just a question: Do you have any favicon? It's not really related to the task but I saw you're setting og:image to GCI logo but leaving favicon blank and I think we could set GCI logo as favicon too.

[2017-12-11 16:41] blazeu commented on #55
Yes, of course.

[2017-12-11 16:55] andrewda opened #73 "Broken social link"
![broken2](https://user-images.githubusercontent.com/10191084/33842961-ebeaabec-de50-11e7-9203-85f1f662773a.png)
![broken1](https://user-images.githubusercontent.com/10191084/33842957-ea53c4bc-de50-11e7-8e22-b1cb268db68d.png)

This probably comes from trying to place a chat link, even though Catrobat doesn't have one.

[2017-12-11 17:06] blazeu commented on #73
Probably because mustache check for the `chat` object, empty object is considered true as well.

[2017-12-11 19:36] myfrom commented on #55
I have one more question: I have created favicon.ico, but I'm not sure how to tell the build script to put it into the output, how should I do that?

[2017-12-11 22:40] blazeu commented on #55
Yes, while you're at it, modify it so that it copies the content of `static` into `out/` not `out/static` so that we're able to put something in the root folder of `out` such as favicon or manifest.

Don't forget to split your commit accordingly.

[2017-12-12 04:10] jayvdb commented on #73
If you can give a hint about how to solve this, it becomes a newcomer / beginner task.

[2017-12-12 04:21] jayvdb opened #77 "Import pre-2017 Finalists and winners"
It appears there is no raw data, so it will need to be scraped from the website.

Present on a separate page, either as one page , or a page per year.

[2017-12-12 04:46] blazeu commented on #77
I'd recommend pulling in some scrapping library such as [x-ray](https://github.com/matthewmueller/x-ray) or something else if there's a better one.

No dirty regex ;)

[2017-12-12 22:53] andrewda opened #80 "Remove unnecessary RegEx check"
The valid-github-usernames package will only return valid usernames, so there's no point in rechecking that. This can be safely removed as it's not doing anything right now:

[code]

[2017-12-13 06:54] #63 closed, assigned to nobody

[2017-12-13 10:32] jayvdb opened #82 "Caching empty wiki values"
The caching of previous wiki values has meant that the old `null` are stuck in the system.
The reason is https://github.com/coala/gci-leaders/blob/master/lib/scrape.js#L283 `.wiki` is always a dict, with two keys that are `null`.

[2017-12-13 10:38] jayvdb commented on #82
IMO the extra `wiki` key is the problem.

`wikidata` should be at the top level, as a (almost) persistent GID, and should be called `wikidata_url` if it is a URL, or store only the `Q...` if the key is `wikidata`.

And `wikipedia` should also be `wikipedia_urls` at the top level, as a dictionary like is already.

[2017-12-13 11:25] #82 closed, assigned to nalinbhardwaj, andrewda

[2017-12-14 03:53] andrewda opened #85 "Add data/cache version checking"
This was discussed briefly in #78, but I'll use this issue as a way to better express my ideas around the bigger problem here. Our `data.(js|min.js|yml)` files are going to be changing quite often while this site is in development, not just in their values but also in their keys.

For example, if we were to make some large changes to the data file. Let's say, for example, the desired effect of our

[2017-12-14 05:38] jayvdb commented on #85
Ignoring the cache based on a schema version change is too simplistic; our rendered version would regress too often.  Instead, we would eventually need 'migrations'; scripts which convert from one version to the other.  But I dont see that being particularly important to build as an independent feature of this build system.  It is a lot of work to build generically.  Maybe we can find an existing

[2017-12-15 06:17] paavininanda commented on #22
Hey @jayvdb. Do we need to include any image or logo with this? Or just a line at the end of the HTML page would do?

[2017-12-15 06:31] blazeu commented on #22
Just add text with a link to coala.

But more importantly, are you on Google Code-in?

[2017-12-15 06:33] paavininanda commented on #22
@blazeu Can these issues be taken up by GCI students only? I am a GCI mentor.

[2017-12-15 06:41] blazeu commented on #22
issues labelled initiatives/gci are for GCI students only ;)

[2017-12-16 03:41] jayvdb commented on #38
Yes, we'll incrementally improve.  I am pretty sure weblate knows how to populate jquery.i18n data files

[2017-12-16 16:58] blazeu opened #88 "og:image is broken"
https://github.com/coala/gci-leaders/blob/206a75c24f14f10f744a574c87920d6d07dfe218/templates/main.html#L9

https://gci-leaders.netlify.com/images/GCI-logo.jpg = 404

Also, consider replacing it with slightly bigger one + padding on the sides for better look on share card such as Facebook.

[2017-12-17 13:53] jayvdb opened #89 "Clearly identify Netlify Deploy Previews"
On a Netlify Deploy Preview, such as https://deploy-preview-84--gci-leaders.netlify.com/ , add a banner at the top which indicates it is not the production website, link back to the GitHub Pull Request, and link to the production website.

Ideally create a package to encapsulate the Netlify information, such as https://github.com/jayvdb/jekyll-netlify .

[2017-12-17 14:42] parthNanda commented on #22
I want to work on this task. Please assign this to me.

[2017-12-17 16:09] #38 closed, assigned to mooncos

[2017-12-18 02:33] jayvdb opened #90 "Stable JSON/YAML"
https://github.com/coala/gci-leaders/commit/d278b4e7a76b9131adba7499c3984bd7b17eb955 contains a lot of unnecessary movement in the JSON/YAML, and some unreadable portions like [coala & catrobat switching places](https://github.com/coala/gci-leaders/commit/d278b4e7a76b9131adba7499c3984bd7b17eb955#diff-eacf331f0ffc35d4b482f1d15a887d3bL1091).

The data should stay in the same order, to be VCS friendl

[2017-12-18 02:38] jayvdb commented on #90
Also new data in lists/arrays should be *appended* at the end.

e.g. https://github.com/coala/gci-leaders/commit/d278b4e7a76b9131adba7499c3984bd7b17eb955#diff-b474874ce77e6c57462f150185420c6cL1853 is confusing to read, because the top entry shouldnt change.

[2017-12-18 03:06] jayvdb opened #91 "Create RSS feed of data changes"
Compare the new data with the previously deployed data to manage an RSS (or ATOM) feed of changes occurring to the data.

e.g.

- How many tasks completed
- Change of order of the organisation
- Change of who is on the leaderboard

[2017-12-18 05:14] jayvdb commented on #50
Need to assign this to @synicalsyntax after they accept the invite to the coala org.

[2017-12-18 12:53] blazeu opened #93 "Handle username change / deletion"
Leader of MetaBrainz Foundation, Eshan Singh has changed their GitHub username.

As a result, the GitHub link in gci-leaders is broken.

[2017-12-18 13:00] #80 closed, assigned to nobody

[2017-12-19 02:38] jayvdb commented on #91
Ideally the solution to this uses the deployed RSS as its data source of prior events, so the solution can prepend only new events to the RSS feed.

[2017-12-19 02:55] #65 closed, assigned to 9r0x

[2017-12-19 10:26] #93 closed, assigned to nobody

[2017-12-20 12:25] blazeu commented on #56
Blocked due to lighthouse-ci needing a secret access token, which can be stolen if we put it in Travis as unsecured and if we put it as secured then it'll not be available on PRs.

[2017-12-20 16:23] ghost opened #97 "Manually fix Github usernames?"
Hey, I'm one of the current leaders for MetaBrainz. My github account is linked as "eshansingh", but I recently changed my username to "naiveaiguy". Is there a way I can manually correct this in a PR?

[2017-12-20 16:31] blazeu commented on #97
"Manually", no.

But if you can find a way to "fix" or link the rest of non linked participants automatically, sure.

This is how our "guessing" of GitHub username currently work https://github.com/coala/gci-leaders/pull/62 & https://github.com/coala/gci-leaders/pull/74 & https://github.com/coala/gci-leaders/pull/75

There was a issue made because of you specifically https://github.com/coala/gci-l

[2017-12-20 17:04] blazeu commented on #97
As per https://github.com/coala/gci-leaders/pull/75

I think you just need to set your organization as public under your profile.

Might need some time because https://github.com/coala/gci-leaders/issues/93 is not fully fixed yet ;)

[2017-12-20 17:12] ghost commented on #97
Oh, I'm terribly sorry if I caused trouble >.< For MetaBrainz you don't actually join the org, so I can't set it as public. I'll close this for now.

[2017-12-20 17:12] #97 closed, assigned to nobody

[2017-12-20 23:04] andrewda opened #100 "Find users in repository information"
We should check the `watchers`, `stargazers` and `forks` for all repositories owned by an organization to see if the user appears there. Luckily, GraphQL makes this _super_ easy.

[code]

Check all those `login`s and `name`s against the GCI `display_names` in the organization to find matches. I did a manual check and this will find _at least_ another 5-10 matches, including 3 more from coala.

[2017-12-20 23:33] andrewda commented on #100
Bonus points for using pagination to get more than just the first page:

[code]

[2017-12-21 04:00] jayvdb opened #102 "Add StackOverflow links"
Use the Wikidata information to include StackOverflow links

[2017-12-21 04:01] jayvdb commented on #71
more info needed :P

[2017-12-21 04:02] jayvdb commented on #56
I think still add it to Travis , unavailable to PRs

[2017-12-21 04:04] jayvdb opened #103 "Set up tests using Jest"
Include some basic tests only, using https://facebook.github.io/jest/.

[2017-12-21 04:31] blazeu commented on #71
This issue will be obsolete with the upcoming redesign task.

[2017-12-21 04:31] #71 closed, assigned to blazeu

[2017-12-21 05:34] blazeu opened #105 "Setup frontend module bundler using Webpack"
Include basic loader to get it working.
Also add Babel & PostCSS loader.

[2017-12-21 06:19] #103 closed, assigned to wisn

[2017-12-21 07:46] priyanshsaxena commented on #26
@jayvdb I'd look to work on this. Should the ribbon show up on the main website of [Coala](https://coala.io) ? Is there any specific design-requirement ? Is there some IRC channel (or Gitter or Slack) where I may discuss this ?

[2017-12-21 19:02] #105 closed, assigned to blazeu

[2017-12-21 19:10] jayvdb commented on #100
Note that for this to avoid false positives, it should only look for watchers, stargazers and forks that occurred after the start of GCI.  These orgs have too many historical watchers, stargazers and forks , so the chance of two people with the same name is quite high.

[2017-12-21 19:20] nalinbhardwaj commented on #102
Claiming.

[2017-12-21 20:23] ghost commented on #97
It appears my GitHub is now gone. Looking through the code right now to see if I can fix this.

[2017-12-21 20:29] andrewda commented on #97
@naiveaiguy Yea, there's no way to find it at the moment. The fix username caching PR was just to remove your 404ing username. We'll need to implement new methods to find your new username. See #100.

[2017-12-22 00:49] jayvdb commented on #102
Note that tags are site specific.

https://stackoverflow.com/questions/tagged/coala is valid
https://superuser.com/questions/tagged/coala is not

[2017-12-22 01:00] jayvdb opened #108 "Add anchor for each org"
The block for each org should have an anchor

e.g. https://gci-leaders.netlify.com/#coala should go directly to the coala section of the page

[2017-12-22 21:52] nemani commented on #26
http://tholman.com/github-corners/

[2017-12-23 03:27] andrewda opened #111 "Use GraphQL API"
We should use GitHub's GraphQL API instead of the the REST API. This will let us get a lot more data in many fewer requests.

You should preferably already have some GraphQL experience in order to properly make use of everything GraphQL has to offer, such as pagination and query variables.

Check out https://www.npmjs.com/package/graphql-client for making requests.

[2017-12-23 04:02] priyanshsaxena commented on #26
@jayvdb @nemaniarjun I'd like to take this up. Any pointers on where to place this will be helpful.

[2017-12-23 04:05] andrewda commented on #100
@jayvdb GitHub does not return the time of stars/watches, but that can be done for forks at least.

[2017-12-23 19:01] andrewda commented on #100
Revising what I said earlier: pagination isn't going to be possible using this method because we'd have to be paginating for the watchers, stargazers and forks in _each_ of the 100 repository. Even if we could keep track of all 300 cursors, I don't think there's a way in GraphQL to use them per repository.

Anyways, here's a list of users found (some already existing prior to this, but many new):

[2017-12-23 19:04] SachinRammoorthy commented on #100
What is this?

[2017-12-23 19:15] andrewda commented on #100
👋  Hi @SachinRammoorthy! Sorry, I should have been more clear about that above. This is [a website](https://gci-leaders.netlify.com) for seeing the leaders of all Google Code-In organizations. I see you're a GCI student so you can safely ignore this ping, but definitely check out the site if you're interested!

[2017-12-24 07:12] jayvdb commented on #8
This was a repeatable task.

[2017-12-24 07:40] blazeu opened #115 "Transform frontend JS to ES6+"
Using tool like [esnext](https://github.com/esnext/esnext) is recommended.

[babel-polyfill](https://babeljs.io/docs/usage/polyfill/) might be needed if the resulting code uses a new method that doesn't belongs to ES5 or below.

[2017-12-24 15:45] #102 closed, assigned to nobody

[2017-12-24 19:01] andrewda opened #116 "Remove duplicate history actions"
https://github.com/coala/gci-leaders/blob/57bfbd8c0491e9c7033c8bc720dbc5f40cb81c68/lib/scrape.js#L105-L111

`created_issues` is checked twice, meaning unnecessary API calls

[2017-12-25 13:28] #91 closed, assigned to andrewda

[2017-12-29 09:56] #9 closed, assigned to nobody

[2017-12-29 10:11] #89 closed, assigned to nobody

[2017-12-29 10:13] nalinbhardwaj opened #122 "Add categories to items in RSS feed"
Add categories to items in the feed. These can/should include:
- Organization
- Name of property changed

[2017-12-29 10:34] andrewda opened #123 "Fix Haiku's wikidata link"
Currently being found to be: https://www.wikidata.org/wiki/Q37707
Should be: https://www.wikidata.org/wiki/Q215448

[2017-12-31 15:46] abishekvashok commented on #100
Can I know in what criteria have you arranged the names. To note: I didn't participate with coala in gci this year.

[2017-12-31 17:30] andrewda commented on #100
Those names aren't arranged in any order, really. They're all the names of people from the GCI leaderboards (for all organizations, not just coala) that we detected to be linked with a GitHub account. They will be used on https://gci-leaders.netlify.com to make it easy to see the GitHub accounts of specific students.

[2018-01-01 17:44] m-sameer commented on #100
@andrewda I have a question and a request(well, kinda):
Question: Can I know how many tasks someone did from an API?

Request: I am Sameer, the one with a leader name on Systers.So it'll be great if you linked my name to my Github account. So here's my Github profi.....wait, you got it.

[2018-01-01 18:45] andrewda commented on #100
There isn't any public API to request the number of tasks completed by each person. Google wants the students to focus on doing quality work instead of doing a lot of tasks, so it makes sense not to make that information public.

We use several different searches to try and find the GitHub accounts for each user (but nothing can be linked manually, at least at the moment). It might be tough to aut

[2018-01-01 20:51] m-sameer commented on #100
_Negative feedback to both_.

Thanks anyway. :-)

[2018-01-02 02:27] #100 closed, assigned to nobody

[2018-01-02 03:20] jayvdb opened #124 "Use Weblate for i18n"
We have set up an i18n project at https://hosted.weblate.org/projects/coala/gci-leaders/

We need to integrate it.

[2018-01-02 13:41] blazeu opened #125 "Generate language list dynamically"
https://github.com/coala/gci-leaders/blob/9a170ecf6e39813f0a722fee6a5ba8378b9af3cb/src/js/locale.js#L29-L34

It needs to be generated dynamically, from the locale files that exists in [static/i18n](https://github.com/coala/gci-leaders/tree/master/static/i18n) to support https://github.com/coala/gci-leaders/issues/124.

We can generate a JSON file and `import` that file to replace the JS object in

[2018-01-02 17:13] jayvdb opened #126 "Add translation"
This task is to add a translation using weblate

https://hosted.weblate.org/projects/coala/gci-leaders/

Only one translation should be added at a time, as we will be manually importing the translations until #125 and #124 have been merged.

The entire set of messages for the language should be translated before the task is completed and submitted.

[2018-01-03 08:19] sthkindacrazy commented on #116
I have found this also and deleted one.
made pr https://github.com/coala/gci-leaders/pull/127

[2018-01-05 18:06] blazeu opened #130 "Broken .nvmrc"
https://travis-ci.org/coala/gci-leaders/builds/325501854 Fails with `nvm` error.

I'm assuming this is because our .nvmrc has `v` prefix in it and nvm doesn't support it anymore?

FYI https://nodejs.org/dist/v8.9.1/node-v8.9.1-linux-x64.tar.xz (our node version) exists

[2018-01-05 18:28] #77 closed, assigned to nobody

[2018-01-06 14:44] sthkindacrazy commented on #116
Following the convention for commit message, I made a new pr https://github.com/coala/gci-leaders/pull/133

[2018-01-06 15:56] #54 closed, assigned to nobody

[2018-01-06 15:57] blazeu commented on #116
@sthkindacrazy umm this is supposed to be a Google code-in task

[2018-01-08 15:13] #88 closed, assigned to nobody

[2018-01-08 16:35] wisn commented on #73
What solution you guys desire? There are some options. However, the easiest one is to **hide** that element. Just add a simple CSS to hide it.

[2018-01-08 16:58] wisn commented on #73
Much easier to add CSS like this I think.

[code]

It is now a newcomer task.

[2018-01-12 10:31] Supreet98 opened #135 "Task count per person in if this year contest."
Their should be an tasks completed by student , where it can be seen , tasks completed by one student in top 10 list.

For e.g. = john(10 tasks)

[2018-01-12 15:54] andrewda commented on #135
Google hides this information (and for good reason). This would require accessing the private mentor API and saving the information from there, but we shouldn't make stuff public that Google wants to keep private. This website should simply republish publically accessible data in an easier format.

[2018-01-13 05:13] Supreet98 commented on #135
Hey, i mean after GCI all the information will be reveled in archive, so why not after GCI ends, you can add tasks completed?

[2018-01-13 17:37] #22 closed, assigned to nobody

[2018-01-14 17:31] mooncos commented on #125
I have an issue with this. Webpack bundles all js files before I can add my own with the translations hash list.

[2018-01-14 18:04] blazeu commented on #125
You should take advantage of the bundling, use `import` to import that hash/object json file.

The file should be generated before the bundling happens, obviously.

[2018-01-15 08:40] andrewda opened #137 "Add total tasks complete"
It'd be cool to see the total number of tasks complete at the top of the page in a big font, instead of having to crunch the numbers.

[2018-01-15 23:14] thefar8 opened #138 "change the countdown from" ... from task claiming end" into "... from GCI ends""
because the task claiming time has been surpassed and now the timer is - second

[2018-01-16 03:21] jayvdb commented on #135
Updated title to reflect recent comment.

We already import pre 2017 data and present it as https://gci-leaders.netlify.com/pre2017.html , so this is already doable for previous years.

[2018-01-16 05:24] Supreet98 commented on #135
@jayvdb yiu didn't understood my point, i mean that you should add task count of one student within the name of student.
for eg: John(10 Tasks)

[2018-01-16 10:43] #130 closed, assigned to blazeu

[2018-01-30 10:35] #138 closed, assigned to nobody

[2018-01-30 15:52] apoorvaagupta commented on #108
Hello, may I take this issue up if no one is working on it?

[2018-01-31 19:04] apoorvaagupta commented on #123
Hello, may I take up this issue if no one else is working on it?

[2018-02-04 20:08] himanshu1603 commented on #126
I'm beginner to open source, I would like to take up this issue for translating in hindi . It would be great if you would explain about steps for adding translation  to project, will it be done entirely from https://hosted.weblate.org/projects/coala/gci-leaders/  or I have to copy changes from website to my local and then create pull request.
Thanks.

[2018-02-06 12:20] #73 closed, assigned to nobody

[2018-02-06 14:16] pavankrishna13 commented on #108
Hi, Can I get assigned to this issue if no one is working on it.

[2018-02-09 00:45] jayvdb opened #144 "JavaScript not loading due to EasyList Ad blocker"
netlify.com has been added to https://github.com/easylist/easylist/blob/610b64054bdc8249492f226e163c45af4906ef55/easyprivacy/easyprivacy_specific.txt

[2018-02-09 00:47] jayvdb commented on #144
Added in https://github.com/easylist/easylist/commit/1da0345a2ce

[2018-02-09 02:32] jayvdb commented on #144
(not aware of why this was automatically closed :/)

Also problematic, the console emits `i18n:en locale loaded` when it isnt loaded.

[2018-02-09 02:37] jayvdb commented on #144
Hmm, stepping through, it appears to be loading the i18n correctly, and then (after logging success) resetting back to the prior state without i18n

[2018-02-09 05:02] jayvdb commented on #144
Adblock plus doesnt enable this rule list (`easyprivacy.txt`) by default, and uOriginBlock has a bug tracking an `unbreak.txt` rule : https://github.com/uBlockOrigin/uAssets/issues/1510

There are a lot of other vectors where `easyprivacy.txt` may be in use without the uOriginBlock `unbreak.txt` override : https://github.com/search?q=easyprivacy.txt

[2018-02-09 05:13] jayvdb commented on #144
Created https://github.com/scrapinghub/adblockparser/issues/13 and https://github.com/essandess/adblock2privoxy/issues/5 and https://github.com/AdguardTeam/AdguardFilters/issues/11282 for some of the other vectors.

[2018-02-10 17:38] Ananthavijay commented on #116
can I be assigned for this issue?

[2018-02-11 16:49] eeshan9815 commented on #26
@jayvdb @nemaniarjun I would like to take up this issue if no one is contributing to it

[2018-02-11 17:19] vigzmv commented on #6
I want to take this. Please assign it to me.

[2018-02-11 17:34] vigzmv commented on #115
I would like to work on this.

[2018-02-12 14:24] jayvdb commented on #126
As the issue describes, you must do the entire translation in weblate - bringing it to 100% complete.  An admin will then import the translation for you.

[2018-02-12 20:28] himanshu1603 commented on #126
I've completed translation, please review it.

[2018-02-13 05:01] Ananthavijay commented on #116
This PR : https://github.com/coala/gci-leaders/pull/145 closes this

[2018-02-13 13:31] Ananthavijay commented on #116
This PR : https://github.com/coala/gci-leaders/pull/146 fixes the issue

[2018-02-13 18:21] himanshu1603 commented on #126
@jayvdb Please review the translation.

[2018-02-24 04:30] Ananthavijay commented on #26
can i take up this issue??

[2018-02-24 11:42] Ananthavijay commented on #26
no i dont want this issue....I already have a newcomer issue..thanks

[2018-02-26 15:50] Makman2 commented on #26
Unassigning due to inactivity.

[2018-03-02 10:11] jayvdb commented on #144
Problematic rule was removed.

[2018-03-02 10:11] #144 closed, assigned to nobody

[2018-03-09 15:14] rohanrk commented on #26
I would like to work on this issue

[2018-04-14 20:34] li-boxuan commented on #111
@andrewda @jayvdb One problem with `searchGitHubOrgs` function: via REST API, GitHub would return a `score` to represent matching degree.

[scrape.js#L287-L289](https://github.com/coala/gci-leaders/blob/master/lib/scrape.js#L287-L289) uses `score` attribute to see if it reaches threshold.

However, as far as I am concerned, GraphQL API would not return `score` or anything like that.
[code]
I would

[2018-04-14 21:33] li-boxuan commented on #111
Another thing is, the function `findGitHubUserInOrg` on [scrape.js#L505](https://github.com/coala/gci-leaders/blob/master/lib/scrape.js#L505) uses `${GH_ORG_BASE}/${org}/people?query=${user}` and regex to check if a user is in an org. This is ad-hoc but doesn't need any API quota. REST API and GraphQL API can do this check but of course, would use API quota. Is this design by intention?

[2018-04-17 04:56] jayvdb commented on #111
Regarding `findGitHubUserInOrg`, the choice of what to use is made based on how to do as much validation without hitting the limit.

[2018-04-18 15:41] jayvdb commented on #35
This task was revised slightly, and wont be done using NLP.

[2018-04-18 15:41] #35 closed, assigned to nobody

[2018-05-08 01:49] jayvdb opened #150 "Error: Cannot find module '../out/pre2017.json'"
See error at https://github.com/coala/gci-leaders/pull/149#issuecomment-386820394

[2018-05-08 02:25] li-boxuan commented on #150
This https://github.com/coala/gci-leaders/pull/148/files#diff-9676cbcb5938ab810f7fa82a528abc4eR29 could help.

[2018-05-25 05:13] mohitsharma23 commented on #108
Is it still open? I would like to work on it.

[2018-06-11 19:47] bekicot opened #151 "Use nodejs build matrix"
This is a node project, it must have node as its global language.
That is needed so that we can have multiple versions in the global matrix.

[2018-06-16 02:57] jayvdb commented on #151
This project is not a reusable app, so the importance of supporting multiple node versions is much lower, but this is still useful to do as it shows GCI high school students how to do Node projects properly in CI.

https://github.com/coala/gh-board/pull/59 is prior art, and I did the same for git-task-list.

However this should considered part of https://gitlab.com/coala/mobans/issues/34 , to stan

[2018-08-27 15:36] rak-shit commented on #2
I am a newbie here and want to work on this! Please assign me the issue.

[2018-08-28 16:27] Naba7 commented on #2
@palash25  cn u assign this issue to me? m a newbie

[2018-08-28 17:02] dnabanita7 commented on #2
@Makman2 @jayvdb assign me this issue ..i am newbie here ... but i have good experience

[2018-08-28 17:02] palash25 commented on #2
I guess the original PR has been abandoned so @Naba7 can be assigned to it.

[2018-09-10 03:55] jayvdb opened #153 "Add year variable, set to 2018"
https://codein.withgoogle.com/api/program/2017/organization/?status=2 is 404.

https://codein.withgoogle.com/api/program/2018/organization/?status=2 is at least valid json

Ideally the year variable is set to the previous or current year, *depending* on which JSON of the above is the best.

i.e. on Jan 1 2019, the website still needs to be using 2018 , and should keep using 2018 until the 2019 org

[2018-09-10 03:56] jayvdb commented on #153
This could be low difficulty, if a quick fix is done to get the build working, or medium difficulty to do it well.

[2018-09-10 03:59] #150 closed, assigned to hizkifw

[2018-09-10 04:13] jayvdb commented on #2
@palash25 , you are right, but this repo is broken atm, so any issues here are going to be a hassle for newcomers, or at least not very desirable as they wont see a build working.

I've manually fixed and merged the abandoned PR, considering it was a GCI participant, so we can get this file started.

[2018-09-10 04:14] #2 closed, assigned to nobody

[2018-09-10 04:29] #116 closed, assigned to sthkindacrazy

[2018-09-10 04:47] jayvdb commented on #27
Closing as new more precise issues should be created for any remaining performance improvements.

[2018-09-10 04:47] #27 closed, assigned to nobody

[2018-09-10 04:50] jayvdb commented on #70
This issue should be done at https://github.com/andrewda/chattie/issues/1

[2018-09-10 05:12] #26 closed, assigned to rohanrk

[2018-09-11 21:05] avsingh999 opened #154 "Some logo's not show"
Some organization's logo not show

[2018-09-11 21:05] avsingh999 commented on #154
I want to work on it

[2018-09-12 05:15] avsingh999 commented on #154
@jayvdb please assign me this issue

[2018-09-12 05:20] avsingh999 commented on #108
@pavankrishna13  are you working on it or not, I want to work on it

[2018-09-13 13:02] ayan-b commented on #126
@jayvdb I would like to translate to [Bengali](https://en.wikipedia.org/wiki/Bengali_language), kindly assign this issue to me.

[2018-09-13 13:19] ayan-b commented on #6
@blazeu @jayvdb Is it still a GCI task? In case it is not I would like to add a LICENSE.md file.

[2018-09-14 01:51] blazeu commented on #6
@ayan-b You can take it.

@vigzmv unassigned because of inactivity.

[2018-09-14 01:53] blazeu commented on #6
@ayan-b Please join the org first.

[2018-09-14 06:06] ayan-b commented on #6
Sure. I will let you know once I join the org.

UPDATE: I have joined the org.

[2018-09-17 11:16] ayan-b commented on #6
Hi @blazeu, as it turns out, the maintainers are quite busy and hence I am unable to join the org. Can I still contribute without joining?

[2018-09-20 04:20] jayvdb commented on #6
@gitmate-bot assign

[2018-09-23 13:00] jayvdb commented on #154
The CI build is broken at the moment.
That needs to be worked on first.

[2018-10-06 06:42] satya-vinay commented on #123
@jayvdb Can I work on this issue?

[2018-10-08 07:26] utkarsh2102 commented on #153
Hi @jayvdb,
Could I be assigned this issue?
I'm at PyCon India's DevSprint.

[2018-10-11 13:41] tathagat2006 commented on #108
@Makman2 can i work on this issue, if no one is working on it?

[2018-10-18 13:04] Ananthavijay opened #158 "Rotation of gci logo when hover"
This will be a very good enhancement .

[2018-10-25 19:54] nickdex commented on #153
Why aren't you guys using this url? - [Google CodeIn Api](https://codein.withgoogle.com/api/program/current/)
It gives same JSON response as https://codein.withgoogle.com/api/program/2018/
I'm assuming using current instead of a year number will always give you valid json without additional code

[2018-10-25 19:57] utkarsh2102 commented on #153
Yeah, this makes sense.

[2018-10-25 20:19] jayvdb commented on #153
@nickdex , that is already being loaded in `fetchDates()` of `lib/scrape.js`.  This tool actually handles all previous years as well as the current year, including years without json.  I believe @utkarsh2102 is close to having a new version of the PR ready, and it would be lovely if you helped with code review ;-)

[2018-10-26 04:01] nickdex commented on #153
@jayvdb Ah I see, my bad. I only gave it a cursory glance and sure, happy to help.

[2018-10-26 05:54] li-boxuan opened #160 "scrape.js: Check whether property `repositories` exist"
the netlify build is failing in node ./lib/scrape.js with 4:49:43 AM: (node:1600) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot read property 'repositories' of null

See https://app.netlify.com/sites/gci-leaders/deploys/5bd23a31fdd72a47225b2ad3

[2018-10-26 07:16] jayvdb commented on #160
Why does it fail ?

What was the cause?

Is the data structure different?

[2018-10-26 08:50] li-boxuan commented on #160
It fails because in https://codein.withgoogle.com/api/program/2018/organization/?status=2, AOSSIE org has IRC_CHANNEL https://gitter.im/GCI-AOSSIE, thus `scrape.js` infers they have GitHub org called `GCI-AOSSIE`, which is not true. I'll fix it in a better way later today.

[2018-10-26 13:48] li-boxuan opened #162 "pre2017.js: Cannot fetch wikipedia statistics"
See error on https://app.netlify.com/sites/gci-leaders/deploys/5bd31c0b82d3f17081357e7e

[2018-10-26 14:29] li-boxuan opened #163 "scrape.js: typeError - cannot read property 'line' of undefined"
See https://github.com/coala/gci-leaders/pull/161#issuecomment-433302128

[code]

[2018-10-26 14:42] li-boxuan commented on #163
This is an upstream issue, but we can have a workaround (actually we should do so) by using try catch block.

[2018-10-26 14:52] li-boxuan commented on #163
I've created an issue on upstream project: https://github.com/nordsimon/graphql-client/issues/9

[2018-10-26 14:56] li-boxuan commented on #115
Unassigned due to inactivity.

[2018-10-26 14:56] li-boxuan commented on #108
Unassigned due to inactivity.

[2018-10-26 19:08] tathagat2006 commented on #108
@li-boxuan may I take this up?

[2018-10-27 09:08] #153 closed, assigned to utkarsh2102

[2018-10-27 09:08] #160 closed, assigned to li-boxuan

[2018-10-27 09:08] #162 closed, assigned to li-boxuan

[2018-10-27 09:08] #163 closed, assigned to li-boxuan

[2018-10-28 16:01] jayvdb opened #164 "Add GCI org admin and mentors"
Im not sure how to get it using open data methodology , but lets try... ;)

[2018-10-28 16:02] jayvdb opened #165 "Detect most active GCI repo for each org"
Like https://github.com/coala/gci-leaders/issues/164 ...

Im not sure how to get it using open data methodology , but lets try... ;)

[2018-10-29 06:14] li-boxuan commented on #164
Seems mentors (email address) can be fetched via GCI API
https://developers.google.com/open-source/gci/resources/downloads/TaskAPISpec.pdf

[2018-10-29 06:18] li-boxuan commented on #165
A possible approach:

Fetch all GCI tasks
Fetch task description, one by one
Use regex to match GitHub/GitLab repo in the task description

API needed is on https://developers.google.com/open-source/gci/resources/downloads/TaskAPISpec.pdf

[2018-10-29 06:22] andrewda commented on #165
I'm not positive on this one, but I don't _think_ you're able to get task descriptions from other orgs using that API? So that would work for getting _our_ most active GCI repo, but not the most active repo for other orgs.

[2018-10-29 06:25] li-boxuan commented on #165
Oh really, I didn't know that. People can see tasks from any org on gci website, so I assumed we could get task descriptions using API.

[2018-10-29 06:40] andrewda commented on #165
That's true, maybe that's the case. The API just it's very well documented and it didn't look like they gave you the `organization_name` field on most of the requests...

[2018-10-29 16:14] jayvdb commented on #164
only for one org.

[2018-10-29 16:16] jayvdb commented on #165
Ya the API only gives data about one org, so not useful.

There are some hacks around to log in as a student, using oauth, and then you can see all tasks from all orgs.

But all tasks from all orgs are are available to all mentors from any org, but only if you know the URL.

[2018-10-29 16:32] jayvdb opened #166 "Add OpenHub for each org"
Use URL guessing to detect whether an org exists in OpenHub , and add a link for any which was found.

PRs do not have access to an OpenHub token, so can not use one.  However we can add an OpenHub token to do extra detection which will run on the master builds after merge.

The majority of GCI orgs have one ( http://openhub.net/orgs/ ).

1. https://www.openhub.net/orgs/JBoss
1. https://www.openhu

[2018-10-29 16:34] jayvdb commented on #165
As a first attempt at this, we could just sort the repos in each github org.

The scraper can not access github dashboards for orgs that it is not a member of.

We could try to get waffle stats out of orgs which have enabled that, e.g. https://waffle.io/coala/coala-bears/metrics/throughput

Ahhhh ... https://github.com/coala/gci-leaders/issues/166 will give us a window into this information.

[2018-10-29 16:36] jayvdb commented on #164
https://github.com/coala/gci-leaders/issues/166 will provide a good mechanism for collecting the most relevant people within each org - but then we need to add heuristics to filter for which are GCI mentors.

[2018-10-30 07:21] #111 closed, assigned to li-boxuan

[2018-10-30 14:52] fireballpoint1 commented on #137
@andrewda could you elaborate on where do you want to show the numbers and is it for all the orgs or just coala ?

[2018-10-30 15:17] andrewda commented on #137
I haven't thought through the design too much, so anywhere at the top of the page works for now and we can change the style later. And yeah it's for all organizations.

[2018-10-30 15:45] fireballpoint1 opened #167 "Add explicit instruction to install npm v5.8.0 in Readme.md"
The deafult installation versin of npm via `apt install npm` is v3.5.2 but we need v5.8.0 to run this repo.
Add `sudo npm install -g npm@5.8.0` to the installation instructions

[2018-10-31 02:50] jayvdb commented on #167
Ya, nice idea!

[2018-10-31 02:52] jayvdb commented on #167
You could also add why -- npm 5.8.0 is the latest release of npm which properly supports optional dependencies -- so it wont download extra bits that are not needed, which can help for people with high cost mobile connections.

[2018-11-04 11:39] jayvdb opened #168 "Add pnpm support"
https://github.com/pnpm/pnpm is a new Node package manager , but it is a bit tricky to get started initially.

This task is to use it without using its flattened mode, which is not helpful.

Very likely a `pnpmfile.js` will be needed to complete this task.  Also commit the `shrinkwrap.yaml` file.

[2018-11-04 11:56] jayvdb commented on #168
This issue reserved for Google Code-in task [6378968065245184](https://codein.withgoogle.com/dashboard/tasks/6378968065245184).

[2018-11-05 02:18] #167 closed, assigned to fireballpoint1

[2018-11-07 15:18] #168 closed, assigned to nobody

[2018-12-08 23:07] ryank01 commented on #137
Can I work on this if it's not assigned to anyone as yet ?

[2018-12-14 13:38] supunTE opened #172 "Add Sinhala Translation"
Add translation for the website in Sinhala,

Could you please assign me to this issue?

[2018-12-15 16:22] #172 closed, assigned to nobody

[2018-12-15 18:15] utkarsh2102 opened #173 "Add French translation"
Since French is a common language, it'd be good to have French translation available on the website.

A good `difficulty/low` issue.

Also, I'd like to take this up if it is approved.

[2019-02-24 20:30] LakshyAAAgrawal commented on #137
Hey,
I would like to fix this up. I have requested access to gitlab, however, haven't yet received it. Could I please be assigned this issue?